* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #cccccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #666666;
}